h1, h2, h3, h4, h5 {
    position: relative;
    display: inline-block;
    z-index: 5;
    padding-top: 15px;

    &:after {
        height: 10px;
        width: 100%;
        left: 15%;
        background-color: $blue;
        content: '';
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

h3, h4, h5 {
    padding-top: 25px;
}

a {
    color: $blue;
    text-decoration: none;
}